@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is simple .Net CRUD web app.</p>
</div>

<div>
    <h3>Main Operations</h3>
    <ul>
        <li>View Clients Information</li>
        <li>Add New Client</li>
        <li>Edit Clients Information</li>
        <li>Delete Clients Information </li>
    </ul>
</div>

<div class="text-center">
    <h2>Click Clients Tab and Go the Clients Information page.</h2>
</div>